.elements {
    width: 75%;
    max-width: 882px;
    display: grid;
    margin: 0 auto;
    padding-bottom: 66px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 18px;
}

@media screen and (max-width: 1197px) {
    .elements {
        max-width: 594px;
    }
}

@media screen and (max-width: 425px) {
    .elements {
        width: 100%;
        padding-bottom: 48px;
    }
}
