@import url('./__form/login__form.css');
@import url('./__title/login__title.css');
@import url('./__input-container/login__input-container.css');
@import url('./__field/login__field.css');
@import url('./__button/login__button.css');
@import url('./__link/login__link.css');

.login {
    display: flex;
    align-items: center;
    position: relative;

}