.profile__name {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0 0 8px 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 910px) {
    .profile__name {
        text-align: center;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 480px) {
    .profile__name {
        font-size: 27px;
    }
}
