.profile__description {
    align-self: flex-start;
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 88%;
}

@media screen and (max-width: 910px) {
    .profile__description {
        align-self: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}
